body {
  margin: 0 auto;
  /*font-family: 'Catamaran', sans-serif;
    font-family: 'Poiret One', sans-serif;  */
  font-family: "ABeeZee", sans-serif;
  text-decoration: none;
}

.contact-info {
  background-color: #ededed;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0.3em;
  text-align: left;
}

.contact-info img {
  width: 17px;
  margin-left: auto;
}

.contact-info a {
  text-decoration: none;
  /*color: black;*/

  padding-left: 3%;
  font-size: small;
  text-wrap: nowrap;
}

.navbar-top {
  height: 6em;
  padding-left: 3vw;
  margin-bottom: .1em;
}

.navbar-top img {
  padding-left: 11px;
}

.navbar-top .elem {
  padding-top: 1em;
  float: left;
  display: block;
}

.navbar-top a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

@media only screen and (min-width: 1316px) {
  .navbar-top a {
    margin-top: 1.8em;
  }
}

.navbar-top a:hover {
  background-color: #f1efef;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.navbar-top a.active {
  text-decoration: underline gray 1px;
  text-underline-offset: 2px;
  color: red;
}

.navbar-top .icon {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0.5em 3vw;
  padding: 0 20px;
}

h2 {
  color: #b70303;
}

h3 {
  color: rgb(130, 130, 130);
  font-weight: normal;
}

.main-content img {
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-content img {
    width: 70%;
    height: auto;
  }
}

.content {
  margin: 0.5em 3vw;
  padding: 0 20px;
}

@media only screen and (min-width: 1000px) {
  .content {
    margin-right: 35%;
  }
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 4em;
  padding: 2em 4em;
  justify-items: stretch;
  text-align: center;
}

.grid-container img {
  height: 80px;
  transition: 0.2s ease;
  cursor: pointer;
}

.grid-container img:hover {
  transform: scale(1.1);
  transition: 0.2s linear;
}

.footer-grid {
  background-color: #ededed;
  text-align: left;
}

.social-media-footer {
  background-color: #ededed;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  padding: .5em 43%;
  justify-content: space-around;
}

.social-media-footer img{
  width: 40px;
}




footer {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  background-color: #8f0000;
}

@media screen and (max-width: 780px) {
  .navbar-top a:not(:first-child) {
    display: none;
  }
  .navbar-top a.icon {
    float: right;
    display: block;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .navbar-top.responsive {
    position: relative;
  }
  .navbar-top.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-top.responsive a {
    float: none;
    display: block;
    text-align: right;
    background-color: #ddd;
  }

  .navbar-top.responsive a.elem {
    margin-right: 4.4em;
    width: 115px;
    margin-left: auto;
  }

  .navbar-top.responsive a:hover {
    background-color: white;
  }

  .grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 2em;
  }
}
