.flex-container {
        margin: .5em 3vw;
        padding: 20px;
        padding-right: 40px;
	display: flex;
	flex-direction: row;
}

.flex-container img{
        width: 60%;
filter: saturate(90%);
}

@media only screen and (max-width: 1000px) {
        .flex-container {
                padding: 20px;
                display: flex;
                flex-direction: column;
        }

        .flex-container img{
                width: 80%;
        }
}

.get-in-touch form{
        margin: .5em 3vw;
        padding: 20px;
}

.get-in-touch input[type=text] {
  width: 100%;
  max-width: 600px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.get-in-touch input[type=submit] {
  background-color: white;
  width: 20%;
  min-width: 100px;
  padding: 12px 12px;
  box-sizing: border-box;
}
